body {
    font-family: 'DM Sans', sans-serif;
}

.navbar {
    background-color: white;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}

.navb-link {
    color: #83818c;
    text-decoration: none;
    transition: .3s;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;
}

.navb-link:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #F2DFCE;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
}

.navb-link:hover:before {
    opacity: 1;
    bottom: 0;
}


.about {
    position: absolute;
    width: 45%;
    right: 5%;
    top: 25%;
}

.about-us {
    font-family: 'La Belle Aurore', cursive;
    font-size: 5rem;
}


.rect {
    position: absolute;
    width: 80vh;
    height: 90vh;
    left: 5%;
    top: 0;
    z-index: -2;
    background: #F2DFCE;
}

.daun-img {
    position: absolute;
    width: 75vh;
    left: 5%;
    bottom: 0px;
    z-index: -1;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem;
    text-align: center;
}