body {
    font-family: 'DM Sans', sans-serif;
}

.navbar {
    background-color: white;
}

.navbar-brand {
    font-weight: 700;
    font-size: 1.5rem;
}

.navb-link {
    color: #83818c;
    text-decoration: none;
    transition: .3s;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    position: relative;
}

.navb-link:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #F2DFCE;
    border-radius: 8px 8px 0 0;
    opacity: 0;
    transition: .3s;
}

.navb-link:hover:before {
    opacity: 1;
    bottom: 0;
}


.date-today {
    position: absolute;
    width: auto;
    left: 12%;
    top: 25%;
    font-family: 'La Belle Aurore', cursive;
    font-size: 5rem;
}

.quotes {
    position: absolute;
    width: auto;
    left: 12%;
    top: 48.5%;
}

.nearest-dedlen {
    position: absolute;
    width: auto;
    left: 12%;
    top: 60%;
    font-weight: 500;
    font-size: 1.1rem;
}

.deadlines {
    position: absolute;
    width: auto;
    left: 14%;
    top: 65%;
}

.dedlen {
    border-bottom: transparent solid 3px;
    transition: border .25s;
}

.dedlen:hover {
    border-bottom: #F2DFCE solid 3px;
    transition: border .25s;
}

.rect {
    position: absolute;
    width: 75vh;
    height: 90vh;
    right: 0;
    top: 0;
    z-index: -2;
    background: #F2DFCE;
}

.daun-img {
    position: absolute;
    width: 75vh;
    right: 0;
    bottom: 0px;
    z-index: -1;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 1rem;
    text-align: center;
}