<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::title}, ~{::link}, ~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>// TODO - All TODOs</title>

    <link rel="stylesheet" th:href="@{/css/todos.css}">

</head>

<body>

    <section>
        <div class="container-fluid">

            <h1 class="title">All TODOs</h1>

            <div th:if="${todoListsLength == 0}">
                <h2>Yeay! No tasks for today.</h2>
            </div>

                <div class="row">
                    <div th:each="todoList : ${todoLists}" class="col-lg-4 col-md-6">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h3 class="mb-0 mr-5" th:text="${todoList.name}"></h3>
                                <form action="#" th:action="@{/all}" th:object="${todo}" method="POST">
                                    <input type="checkbox" onchange="this.form.submit()">
                                    <span class="mark-as-done">Mark as done</span>
                                </form>
                            </div>
                            <div class="card-body">
                                <h5 th:text="${todoList.description}"></h5>
                                <p th:text="'Due Date: ' + ${todoList.parseDueDate(todoList.dueDate)}"></p>
                            </div>
                        </div>
                    </div>
                </div>


        </div>

    </section>

</body>

</html>