<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::title}, ~{::link}, ~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>// TODO - All TODOs</title>

    <link rel="stylesheet" th:href="@{/css/todos.css}">

</head>

<body>

    <section>
        <div class="container-fluid">

            <h1 class="title">All TODOs</h1>

            <div th:if="${todoListsLength == 0}">
                <h2 style="text-align: center; color: #83818c;">Yeay! You have no tasks TODO.</h2>
            </div>

            <div class="row">
                <div th:each="todoList : ${todoLists}" class="col-lg-4 col-md-6">
                    <div class="card mb-3 mt-3">
                        <div class="card-header">
                            <h3 class="mb-0 mr-5" th:text="${todoList.name}"></h3>
                            <form action="#" th:action="@{/all}" th:object="${todo}" method="POST">
                                    <input type="checkbox" th:field="*{name}" th:value="${todoList.name}" onchange="this.form.submit()">
                            <span class="mark-as-done">Mark as done and delete</span>
                            </form>
                        </div>
                        <div class="card-body">
                            <h5 th:text="${todoList.description}"></h5>
                            <p th:text="'Due Date: ' + ${todoList.parseDueDate(todoList.dueDate)}"></p>

                            <!-- <span class="trash-icon">
                                <form id="delete-form" action="#" th:action="@{/all}" th:object="${todo}" method="POST">
                                    <input type="hidden" th:value="${todoList.name}" th:field="*{name}">
                                    <a class="trash" href="javascript:$('#delete-form').submit();"><i
                                            class="far fa-trash-alt"></i></a>
                                </form>
                            </span>
                            <span class="delete">Delete</span> -->


                        </div>

                    </div>
                </div>
            </div>


        </div>

    </section>

</body>

</html>