<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

    <nav th:fragment="navbar" class="nav">

        <div class="navb">
            <a href="/" class="navb-todo-item">// TODO</a>
            <a th:href="@{/today}" class="navb-item" active-color="purple">Today</a>
            <a th:href="@{/all}" class="navb-item" active-color="green">All</a>
            <a th:href="@{/add}" class="navb-item" active-color="blue">Add a TODO</a>
            <span class="navb-indicator"></span>
        </div>

    </nav>

</body>

</html>