<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout(~{::title}, ~{::link}, ~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>// TODO - Today</title>

    <link rel="stylesheet" th:href="@{/css/todos.css}">

</head>

<body>

    <section>
        <div class="container-fluid">

            <h1 class="title">TODOs for Today</h1>

            <div th:if="${todoListsTodayLength == 0}">
                <h2 style="text-align: center; color: #83818c;">Yeay! No tasks for today.</h2>
            </div>

            <div class="row">
                <div th:each="todoListToday : ${todoListsToday}" class="col-lg-4 col-md-6">
                    <div class="card mb-3 mt-3">
                        <div class="card-header">
                            <h3 class="mb-0 mr-5" th:text="${todoListToday.name}"></h3>
                            <form action="#" th:action="@{/today}" th:object="${todo}" method="POST">
                                <input type="checkbox" th:field="*{name}" th:value="${todoListToday.name}" onchange="this.form.submit()">
                                <span class="mark-as-done">Mark as done and delete</span>
                            </form>
                        </div>
                        <div class="card-body">
                            <h5 th:text="${todoListToday.description}"></h5>
                            <p th:text="'Due Date: ' + ${todoListToday.parseDueDate(todoListToday.dueDate)}"></p>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

</body>

</html>